<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="POST" th:action="@{/user/edit}">
    <input type="hidden" th:field="*{editUser.id}"/>
    <br/>

    <label>Name: <input type="text" th:field="*{editUser.name}"/></label>
    <br/>

    <label>Lastname: <input type="text" th:field="*{editUser.lastname}"/></label>
    <br/>

    <label>Age: <input type="text" th:field="*{editUser.age}"/></label>
    <br/>

    <input type="submit" value="Update"/>
</form>
</body>
</html>